* { box-sizing: border-box; }
body { background-color: #797877;
       color: #221811;
	   font-family: Tahoma, Arial, sans-serif; 
	   margin: 0;  
	   padding: 10px;
}

.slideshow-container {
	text-align: center;
  }
  
  
  #main-image {
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin-bottom: 10px;
  }
  
  .thumbnail-container {
	display: flex;
	justify-content: center;
  }
  
  .thumbnail {
	width: 100px;
	height: 60px;
	object-fit: cover;
	margin: 0 5px;
	cursor: pointer;
	opacity: 0.6;
  }
  
  .thumbnail.active {
	opacity: 1;
  }

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav ul li {
	float: left;
}

form {
    max-width: 600px; 
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 8px;
    background-color: #f9f9f9; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	padding-right: 2em;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 0.3s;
}

nav ul li a:hover {
	background-color: #111;
}

.canvas-container {
	display: block;
	justify-content: center;
	align-items: center;
}

#drawArea {
	max-width: 680px;
	min-width: 680px;
	width: 750px;
	height: 1000px;
	display: block;
	margin: 0 auto;
}

/* Adjusted height for smaller screens */
@media (max-width: 1500px) {
    #drawArea {
        max-width: 100%;
        min-width: 0;
        width: 100%; 
        height: 100%;
		min-height: 0;
    }
}